<?xml version="1.0"?>

<config>
    <modules>
        <Webinse_DailyDeals>
            <version>1.2.1</version>
        </Webinse_DailyDeals>
    </modules>
    <global>
        <helpers>
            <dailydeals>
                <class>Webinse_DailyDeals_Helper</class>
            </dailydeals>
        </helpers>
        <blocks>
            <dailydeals>
                <class>Webinse_DailyDeals_Block</class>
            </dailydeals>
        </blocks>
        <models>
            <dailydeals>
                <class>Webinse_DailyDeals_Model</class>
                <resourceModel>dailydeals_resource</resourceModel>
            </dailydeals>
            <dailydeals_resource>
                <class>Webinse_DailyDeals_Model_Resource</class>
                <deprecatedNode>dailydeals_mysql4</deprecatedNode>
                <entities>
                    <statuses>
                        <table>deals_statuses</table>
                    </statuses>
                </entities>
            </dailydeals_resource>
        </models>
        <resources>
            <dailydeals_setup>
                <setup>
                    <module>Webinse_DailyDeals</module>
                    <class>Webinse_DailyDeals_Model_Resource_Setup</class>
                </setup>
            </dailydeals_setup>
        </resources>
        <events>
            <catalog_product_edit_form_render_recurring>
                <observers>
                    <dailydeals_catalog_product_edit_form_render_recurring>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogProductEditFormRenderRecurring</method>
                    </dailydeals_catalog_product_edit_form_render_recurring>
                </observers>
            </catalog_product_edit_form_render_recurring>
            <catalog_product_save_before>
                <observers>
                    <dailydeals_catalog_product_save_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogProductSaveBefore</method>
                    </dailydeals_catalog_product_save_before>
                </observers>
            </catalog_product_save_before>
            <catalog_block_product_list_collection>
                <observers>
                    <dailydeals_catalog_block_product_list_collection>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>catalogBlockProductListCollection</method>
                    </dailydeals_catalog_block_product_list_collection>
                </observers>
            </catalog_block_product_list_collection>
            <sales_order_place_after>
                <observers>
                    <dailydeals_sales_order_place_after>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderPlaceAfter</method>
                    </dailydeals_sales_order_place_after>
                </observers>
            </sales_order_place_after>
            <sales_order_item_cancel>
                <observers>
                    <dailydeals_sales_order_item_cancel>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderItemCancel</method>
                    </dailydeals_sales_order_item_cancel>
                </observers>
            </sales_order_item_cancel>
            <checkout_cart_save_before>
                <observers>
                    <dailydeals_checkout_cart_save_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>checkoutCartSaveBefore</method>
                    </dailydeals_checkout_cart_save_before>
                </observers>
            </checkout_cart_save_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <dailydeals_sales_order_creditmemo_refund>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </dailydeals_sales_order_creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
            <core_block_abstract_to_html_before>
                <observers>
                    <dailydeals_core_block_abstract_to_html_before>
                        <class>Webinse_DailyDeals_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </dailydeals_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <frontend>
        <product>
            <collection>
                <attributes>
                    <deal_price/>
                    <deal_start_time/>
                    <deal_end_time/>
                    <deal_qty/>
                    <deal_bought/>
                    <deal_status/>
                    <deal_statuses/>
                    <old_special_price/>
                    <old_special_date_from/>
                    <old_special_date_to/>
                </attributes>
            </collection>
        </product>
        <routers>
            <dailydeals>
                <use>standard</use>
                <args>
                    <module>Webinse_DailyDeals</module>
                    <frontName>dailydeals</frontName>
                </args>
            </dailydeals>
        </routers>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dailydeals before="Mage_Adminhtml">Webinse_DailyDeals_Adminhtml</dailydeals>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <dailydeals>
                    <file>dailydeals.xml</file>
                </dailydeals>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <dailydeals>
            <dailydeals_group>
                <product_select>1</product_select>
                <show_deals_status>1</show_deals_status>
                <category_select>1</category_select>
                <show_on_search>1</show_on_search>
                <color_select>2E82FF</color_select>
                <color_select_mini>2E82FF</color_select_mini>
            </dailydeals_group>
        </dailydeals>
    </default>
</config>