<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Description of class...
 * 
 * @category    Inside
 * @package     Inside_Analytics
 * @author      Inside <martin.novak@inside.tm>
 */
 -->
<config>
    <modules>
	<Inside_Analytics>
	    <version>2.6.0</version>
	</Inside_Analytics>
    </modules>
    <global>
	<models>
	    <inside>
		<class>Inside_Analytics_Model</class>
		<resourceModel>inside_mysql4</resourceModel>
	    </inside>
	    <inside_mysql4>
                <class>Inside_Analytics_Model_Mysql4</class>
                <entities>
                    <route><table>insideanalytics_route</table></route>
                </entities>
            </inside_mysql4>
	</models>
	<blocks>
	    <inside>
		<class>Inside_Analytics_Block</class>
	    </inside>
	</blocks>
	<helpers>
	    <inside>
		<class>Inside_Analytics_Helper</class>
	    </inside>
	</helpers>
	<resources>
            <inside_setup>
                <setup>
                    <module>Inside_Analytics</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inside_setup>
            <inside_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inside_write>
            <inside_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inside_read>
        </resources>
    </global>
    <frontend>
	<events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <insideanalytics_order_success>
                        <class>inside/observer</class>
                        <method>setOrderSuccessPageView</method>
                    </insideanalytics_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <insideanalytics_order_success>
                        <class>inside/observer</class>
                        <method>setOrderSuccessPageView</method>
                    </insideanalytics_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
	    <controller_front_send_response_after>
		<observers>
		    <insideanalytics_front_response_after>
			<class>inside/observer</class>
			<method>setAjax</method>
		    </insideanalytics_front_response_after>
		</observers>
	    </controller_front_send_response_after>
	    <controller_action_layout_generate_blocks_after>
		<observers>
		    <insideanalytics_emptysearch_check>
			<class>inside/observer</class>
			<method>setEmptySearch</method>
		    </insideanalytics_emptysearch_check>
		</observers>
	    </controller_action_layout_generate_blocks_after>
        </events>
	<layout>
	    <updates>
		<inside>
		    <file>inside/analytics.xml</file>
		</inside>
	    </updates>
	</layout>
    </frontend>
    <adminhtml>
	<layout>
	    <updates>
		<inside>
		    <file>inside/analytics.xml</file>
		</inside>
	    </updates>
	</layout>
    </adminhtml>
    <admin>
        <routers>
            <inside>
                <use>admin</use>
                <args>
                    <module>Inside_Analytics</module>
                    <frontName>inside</frontName>
                </args>
            </inside>
        </routers>
    </admin>
    <default>
	<inside>
	    <analytics>
		<server><![CDATA[inside-graph.com]]></server>
	    </analytics>
	</inside>
    </default>
</config>
