<?xml version="1.0"?>
<!--
/**
 * Description of class...
 * 
 * @category    Inside
 * @package     Inside_Analytics
 * @author      Inside <martin.novak@inside.tm>
 */
 -->
<config>
    <sections>
        <inside translate="label" module="inside">
            <label>Inside</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>345</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <analytics translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
		    <comment>
                        <![CDATA[
                            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
			    In order for your plugin to work you need to obtain a unique Account Key for your domain. 
			    Please <a href="http://www.inside.tm/getstarted/" target="_blank">click here</a> or visit www.inside.tm/getstarted 
			    to register your website and we will generate a Key that will be sent back to you. Once you receive the Key, please 
			    enter it in the relevant field below and save.
                            </div>
                        ]]>
                    </comment>
                    <fields>
                        <active translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
			<server>
			    <label>Server</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <comment><![CDATA[The server to connect to. Defaults to 'inside-graph.com']]></comment>
			</server>
                        <account translate="label">
                            <label>Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account>
                    </fields>
                </analytics>
		<options translate="label">
		    <label>Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<category_title translate="label">
			    <label>Category From Title</label>
			    <frontend_type>select</frontend_type>
			    <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <comment><![CDATA[Builds category name out of page title. Enable for Amasty Improved Navigation and similar extensions.]]></comment>
			</category_title>
		    </fields>
		</options>
		<debug translate="label">
                    <label>Debug</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
			<show translate="label">
                            <label>Show Request</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <comment><![CDATA[Display current request module, controller and action name at the top of every page.]]></comment>
                        </show>
                        <log translate="label">
                            <label>Enable Logging</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <comment><![CDATA[Enable extension logging: /var/log/inside-analytics.log]]></comment>
                        </log>
			<verbose translate="label">
                            <label>Verbose</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
			    <comment><![CDATA[Full extension process log]]></comment>
			    <depends><log>1</log></depends>
                        </verbose>
			<show_log translate="label">
			    <frontend_type>button</frontend_type>
			    <frontend_model>inside/adminhtml_system_config_form_button_showlog</frontend_model>
			    <sort_order>40</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</show_log>
			<clear_log translate="label">
			    <frontend_type>button</frontend_type>
			    <frontend_model>inside/adminhtml_system_config_form_button_clearlog</frontend_model>
			    <sort_order>50</sort_order>
			    <show_in_default>1</show_in_default>
			    <show_in_website>1</show_in_website>
			    <show_in_store>1</show_in_store>
			</clear_log>
                    </fields>
                </debug>
            </groups>
        </inside>
    </sections>
</config>
